<div class="container">
    <div class="row">

        <div class="alert alert-dark text-center" role="alert">
            <B>¿QUIENES SOMOS?</B>
        </div>

        <img src="../../../assets/QUI.jpg" height="400 px" width="300 px"> <br> <br>
        <hr>

        <H1 class="text-center"><b>MONEYEASY</b></H1> Tiene por objeto social el desarrollo de productos y servicios que
        promuevan la inclusión financiera y el acceso al crédito de las personas así como de las micro, pequeñas y
        medianas empresas (mipymes). <br>

        Desarrollamos, administramos y operamos plataformas electrónicas y ofrecemos productos & servicios apoyados en
        las tecnologías de la información y comunicación TICs que democratizan y profundizan el acceso al crédito. <br>

        Ampliar y mejorar permanentemente el conocimiento acerca de la naturaleza y función de la actividad financiera
        <br> <br>
        <hr> <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/pV0o1bNWG8A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <hr><br> <hr>
    </div>
</div>