<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <h3>Crear empleado</h3>
                    <form class="nt-4" [formGroup]="createEmpleado" (ngSubmit)="agregarEmpleado()">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="from-control-lg" 
                               forControlname = "nombre" placeholder="Nombre">
                            </div> <br> <br>
                            <div class="col">
                                <input type="text" class="from-control-lg" 
                                formControlName = "apellido" placeholder="Apellido">
                            </div>
                        </div>
                        <input type="text" class="from-control-lg mt-3" 
                        formControlName="documento" placeholder="Documento" > <br>
                        <input type="text" class="from-control-lg mt-3" 
                        formControlName="salario" placeholder="Salario">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
