<div class="container">
    <div class="row">
        <img src="../../../assets/QUI.jpg" width="1300 px" height="400 px">
    <div>
        <p>Al diligenciar los datos de este formulario y seleccionar la opción <b>“Enviar”</b>, usted autoriza y
            manifiesta el uso de sus datos personales se utilicen
            por la compañia <b>MONEYEASY</b>. La Compañía actuará como responsable del Tratamiento de los datos
            personales del
            titular.</p>
    </div>

    <div class="row">
        <div class="col-6 col-sm-4">
            <form>
                <label for="txtnombre"><b>1. Nombre</b></label> <br>
                <input type="text" id="txtnombre"> <br> <br>
                <label for="txtapellido"><b>2. Apellido:</b></label> <br>
                <input type="text" id="txtapellido"> <br> <br>
                <label for="txtidenticacion"><b>3. Identificación</b></label> <br>
                <input type="number" id="txtidenticacion"> <br> <br>
            </form>
        </div>
        <div class="col-6 col-sm-4">
            <form>
                <label for="txtnumero"><b>4. Telefono</b></label> <br>
                <input type="tel" id="txtnumero"> <br> <br>
                <label for="txtcan"><b>5. Cantidad del prestamo:</b></label> <br>
                <input type="number" id="txtcan"> <br> <br>
                <label for="txtciudad"><b>6. Ciudad</b></label> <br>
                <input type="text" id="txtciudad"> <br> <br>
            </form>
        </div>
        <div class="col-6 col-sm-4">
            <form>
                <label for="txtcuo"><b>7. Cuotas</b></label> <br>
                <input type="number" id="txtcuo"> <br> <br>
                <label for="txtapellido"><b>8. Estrato:</b></label> <br>
                <input type="number" id="txtapellido"> <br> <br>
                <label for="txthorario"><b>9. Horario solicitado</b></label> <br>
                <input type="time" id="txthorario"> <br> <br>>
            </form>
        </div>
    </div>
    <form>

        <input type="submit" id="enviar"> <input type="reset" value="restablecer"> <br> <br>
        <hr>
    </form>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <span class="h3">Lista de usuarios</span>
                <button class="btn btn-dark btn-lg margin 500 px">Agregar</button>
            </div>
        </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apelido</th>
                <th scope="col">Identifacion</th>
                <th scope="col">Telefono</th>
                <th scope="col">Cantidad del prestamo</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Estrato</th>
                <th scope="col">Hora solicitada</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>1</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>2</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>3</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                  <td>
                    <button class="btn btn-primary btn-lg" style="margin: 2px;">Editar</button> <br>
                    <button class="btn btn-danger btn-lg ">Borrar</button> <br>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/p22QHHkvdW0" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <hr>

    <div class="p2">
        Sus datos personales han sido y están siendo tratados conforme con nuestra Política de Tratamiento de Datos
        Personales. Para mayor información podrá consultar nuestra política en la página web: Política de Privacidad
        <br>
        Ubicación: Calle 58 55 -24a. Bloque A. 4to Piso, Centro de cómputo <a href="ubicacion.html">clik aqui!!</a>
        <br><br>
        Correo electrónico: centrocomputo@ul.edu.co <br>
        Teléfono: 3442272 Ext: 129 <br>
        <hr>
    </div>
    </div>
</div>    