<div class="container">
    <div class="row">
       
        <div class="col">
            <br>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../../assets/bit.gif" class="d-block w-200" width="1290 px" height="500 px">
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <p class="text-center"><B><h1>DINERO A LA MANO</h1></B></p>
                <div class="col-6 col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img src="../../../assets/logo11.gif" class="card-img-top" alt="..."> <br>
                        <h6 class="card-subtitle mb-2 text-muted text-center">Crédito Libre
                            Inversión</h6>
                        <div class="card-body">
                            <p class="card-text">Una vez aprobado tu crédito te desembolsamos el dinero en 24 horas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img src="../../../assets/logo3.gif" class="card-img-top" alt="..."> <br>
                        <h6 class="card-subtitle mb-2 text-muted text-center">Solicitud
                            En Línea</h6>
                        <div class="card-body">
                            <p class="card-text">Haz la solicitud de crédito en línea desde cualquier dispositivo y
                                obtén un pre aprobado de inmediato</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img src="../../../assets/logos.gif" class="card-img-top" alt="..."> <br>
                        <h6 class="card-subtitle mb-2 text-muted text-center">Cumpliendo
                            Sueños</h6>
                        <div class="card-body">
                            <p class="card-text">Préstamos desde $2 millones hasta tu capacidad de endeudamiento.</p>
                        </div>
                    </div>
                </div>
            </div> <br>
            <hr>
        </div>

        <div class="alert alert-primary text-center" role="alert">
            <h1>TE DAMOS MÁS QUE UN PRESTAMO RÁPIDO</h1> <a routerLink="/pagina2" class="alert-link"> Click
                aqui</a>.Para
            solicitar
            prestamo.
        </div>
        <div class="alert alert-success text-center" role="alert">
            <h3 class="alert-heading">
                <h1>EJEMPLO REPRESENTATIVO DEL PRÉSTAMO</h1>
            </h3>
            <p>
            <h2>Prestamos a partir de $2.000.000 de pesos hasta $100.000.000 de pesos al 0.4% mensual</h2>
            <hr>
            <p class="mb-0">Somos una empresa líder en el <b>sector financiero</b> a nivel Nacional e internacional
                ofreciendo a
                sus clientes un negocio nuevo del cual usted puede ser socio, brindando a nuestro país crecimiento
                económico
                y mejorando las condiciones de vida de muchos, estamos en las principales ciudades del país como (Bogotá
                ,
                Cali, Medellin, Barranquilla) y ofrecemos crédito a nivel Nacional en el País. <br>

                Es así como presentamos a ustedes alternativas de financiación mediante la adquisición de préstamos con
                interés del 0.4%. <br>

                <b>Plazos</b> <br>

                Nuestros préstamos son de libre inversión y llevan una financiación de 12 a 180 meses o dependiendo de
                su
                capacidad de pago mensual nuestros créditos no son renovables automáticamente si no dependiendo del
                contrato
                inicial y el tiempo máximo a financiar. <br>

                <b>TAE, Tasa Anual Equivalente.</b> <br>

                <b>Ejemplo:</b> <br>

                Con un interés nominal del 4.8 % anual y 12 pagos al año (pagos mensuales), resulta un <b>TAE de
                    4.8%:</b>

                dado que no cobramos ningún tipo de comisión.

                1=1.0.48

                Pagando al finalizar el año, para $2.000.000 (Dos Millones de Pesos):

                <b>2.000.000 x 1.12 = $2.240.000 Pesos</b>

            </p>
        </div>
        <hr>
    </div>
</div>