<div class="container">
    <div class="row">
        <img src="../../../assets/QUI.jpg" width="1300 px" height="400 px">
        <h1 class="text-center">MONEYEASY</h1>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                        FORMULARIO DE CONTACTO
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-6 col-sm-4">
                                <form>
                                    <label for="txtnombre"><b>Nombre completo</b></label> <br>
                                    <input type="text" id="txtnombre"> <br> <br>
                                    <label for="txtidenticacion"><b>Identificación</b></label> <br>
                                    <input type="number" id="txtidenticacion"> <br> <br>
                                </form>
                            </div>
                            <div class="col-6 col-sm-4">
                                <form>
                                    <label for="txtnumero"><b>Telefono</b></label> <br>
                                    <input type="tel" id="txtnumero"> <br> <br>
                                    <label for="txtciudad"><b>Actividad financiera</b></label> <br>
                                    <input type="text" id="txtciudad"> <br> <br>
                                </form>
                            </div>
                            <div class="col-6 col-sm-4">
                                <form>
                                    <label for="txtcuo"><b>Email</b></label> <br>
                                    <input type="email" id="txtcuo"> <br> <br>
                                    <label for="txtapellido"><b>Solicitud:</b></label> <br>
                                    <input type="text" id="txtapellido"> <br> <br> <br>
                                    <hr>

                                    <input type="submit" id="enviar"> <input type="reset" value="restablecer"> <br> <br>
                                    <hr>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <br>
        </div>
        <hr>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.5828729681884!2d-74.79294488519723!3d10.994824392173541!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42d79e57e00e7%3A0x3b195f6bb10f7ede!2sCUL%20CORPORACION%20UNIVERSITARIA%20LATINOAMERICANA!5e0!3m2!1ses-419!2sco!4v1653356129991!5m2!1ses-419!2sco"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        <hr><br>
    </div>
    <hr>
</div>